<!-- views/partials/navbar.ejs -->
<header class="header clearfix">
  <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          FreeCodeCamp - Voting App
        </a>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li class="<%= (locals.view == undefined || locals.view == 'home' ? 'active' :'')%>">
          <a href="/">Home</a>
        </li>
        <% if( locals.authenticated == undefined || !authenticated) { %>
          <li class="<%= locals.view == 'login' ? 'active' :''%>">
            <a href="/login">Login</a>
          </li>
        <% } else { %>
          <li class="<%= locals.view == 'profile' ? 'active' :''%>">
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
  </nav>
</header>
